@model List<WebApp_Noite.Models.ClientesModel>

<div class="row">

    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h2>Lista de Clientes</h2>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-2">
                        <a href="/Cliente/Cadastrar" class="btn btn-success">
                            Novo Cliente
                        </a>
                    </div>
                    <div class="col-4">
                        <select name="filtro" class="form-control">
                            <option value="0">Todas Opções</option>
                            <option value="id">Por Código</option>
                            <option value="nome">Por Nome</option>
                            <option value="qtd">Por Telefone</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="text" name="busca" class="form-control" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary">
                            Pesquisar
                        </button>
                    </div>

                </div>

                <form action="/Cliente/Pesquisa" method="get">
                </form>



                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            
                            <tr>
                                <td> @cliente.Id </td>
                                <td> @cliente.Nome </td>
                                <td> @cliente.Telefone </td>
                                <td>
                                    <a href="/Cliente/Editar/@cliente.Id"
                                   class="btn btn-warning">
                                        Editar
                                    </a>
                                    <a href="/Cliente/Excluir/@cliente.Id"
                                   class="btn btn-danger">
                                        Excluir
                                    </a>

                                </td>
                            </tr>
                        }
                        </tbody>
                </table>

            </div>

        </div>

    </div>

</div>