<div class="alert alert-success" role="alert">
    A simple success alert—check it out!
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"> R$ </span>
  <input type="text" class="form-control" placeholder="Digite o preço" aria-label="Username" aria-describedby="basic-addon1">
</div>

<form action="" method="post">
    <label>
        Login
    </label>
    <br />
    <input class="form-control" type="text" name="Login" />

    <br />
    <label>
        Senha
    </label>
    <input type="password" name="Senha" />

    <br />
    <button type="button" class="btn btn-info">
        Logar
    </button>

</form>