
<div class="row">
    <div class="col-4">
        coluna da esquerda
    </div>
    <div class="col-4">

        <div class="card">
            <div class="card-header">
                <h2>Cadastro de Produto</h2>
            </div>
            <div class="card-body">
                <form action="/Produto/Salvar" method="post">
                    <label>Nome</label>
                    <input type="text" name="Nome" class="form-control" />
                    <br />

                    <label>Quantidade em Estoque</label>
                    <input type="number" name="QtdEstoque" class="form-control" />
                    <br />

                    <button type="submit" class="btn btn-info">
                        Salvar Produto
                    </button>

                </form>
            </div>
        </div>
    
    </div>
    <div class="col-4">
        coluna da direita
    </div>
</div>
