@model WebApp_Noite.Tabelas.Categorias
<!-- tag form é que envia para o banco-->
<form action="/Categorias/SalvarDados" method="post">
    <label>Nome</label>    
    <br />
    <input name="Nome" typeof="text" />
    <br />
    <select name="Ativo">
        <option value="true">Ativa</option>
        <option value="false">Inativo</option>
    </select>
    <button type="submit">
        Salvar Dados
    </button>



</form>